body {
    background-color: rgb(56, 74, 134);
    color: rgba(255, 255, 255, 0.95);
}

main {
    text-align: center;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 3em;
}

#time {
    display: flex;
    justify-content: center;
}

#timer-box {
    margin-top: 50px;
}

.start-button {
    margin-top: 10px;
}

.settings-line {
    display: flex;
    justify-content: center;
}

#settings {
    font-size: 20px;
}

#time {
    
}

.state-box {
    display: flex;
    font-size: 12px;
}

.state {
    padding: 7px;
    cursor: pointer;
}

.selected {
    color: red;
}